Brlapi==0.8.8
cupshelpers==1.0
dasbus==1.7
dbus-python==1.4.0
distro==1.9.0
louis==3.38.0
packaging==26.2
psutil==7.1.0
pycairo==1.27.0
pycups==2.0.4
PyGObject==3.56.2
pysmbc==1.0.25.1
pyxdg==0.28
setproctitle==1.3.7
wheel==0.47.0
xdg==5
